<h3>Create User</h3>

<form #form="ngForm" (ngSubmit)="saveUser(form)">

  <div class="form-group">
    <label for="name">First Name</label>
    <input type="text" class="form-control"name="firstName" required ngModel>
  </div>

  <div class="form-group">
    <label for="name">Last Name</label>
    <input type="text" class="form-control" name="lastName" required ngModel>
  </div>

  <div class="form-group">
    <label for="name">Email</label>
    <input type="email" class="form-control" id="emailId" name="emailId" email required ngModel #email="ngModel">
    <span class="help-bpx" *ngIf="email.touched && !email.valid ">Please enter a valid Email Address</span>
  </div>

  <div class="form-group">
    <label for="name">Username</label>
    <input type="text" class="form-control" name="username" required ngModel>
  </div>

  <div class="form-group">
    <label for="name">Password</label>
    <input type="password" class="form-control" name="password" required ngModel>
  </div>

  <button type="submit" class="btn btn-success" id="register" [disabled]="!form.valid">Save</button>
  <button (click)="gotoList()" class="btn btn-secondary" style="margin-left: 20px;">Cancel</button><br>
</form>