<h3>Update Config</h3>

<form #form="ngForm" (ngSubmit)="saveConfig(form)">

    <div class="form-group">
      <label><b>Name: </b></label>
      <input disabled type="text" class="form-control" id="name" required [(ngModel)]="config.name" name="name">
    </div>

    <div class="form-group">
      <label><b>Value: </b></label>
      <input type="text" class="form-control" id="value" required [(ngModel)]="config.value" name="value">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
    <button (click)="gotoList" class="btn btn-secondary" style="margin-left: 20px;">Cancel</button><br>
  </form>

