.lf--submit {
  display: block;
  padding: .4em;
  width: 100%;
  background-color: #007bff!important;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(black, .2);
  &:focus {
    outline: none;
    transition: transform .15s ease;
    transform: scale(1.1);
  }
}

input.ng-invalid.ng-touched {
  border-color: red;
}

.errMsg{
  color: red;
  font-size:13px;
}