<h3>Create Product</h3>

<form #form="ngForm" (ngSubmit)="saveProduct(form)">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" required ngModel>
  </div>

  <div class="form-group">
    <label for="name">Quantity</label>
    <input type="number" min="0" max="1000" class="form-control" name="quantity" required ngModel>
  </div>

  <div class="form-group" *ngIf="isAdmin">
    <label for="name">User: &nbsp;</label>
    <select id="ownerSelect">
      <option *ngFor="let user of userList | async" value="{{user.id}}">{{user.username}}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-success" [disabled]="!form.valid">Save</button>
  <button (click)="gotoList()" class="btn btn-secondary" style="margin-left: 20px;">Cancel</button><br>
</form>